/* Styling for the body */
body {
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Set font family */
    font-size: 14px; /* Set font size */
    color: #484848; /* Set text color */
}

/* Styling for the container */
.container {
    max-width: 1000px; /* Set max container width */
    margin-top: 30px; /* Add top margin */
    margin-bottom: 30px; /* Add bottom margin */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    /* Add any additional styling here */
}
